<a href="https://colab.research.google.com/github/785pavan/-Tuesday-15-17-ML-Programming-Assignment-1/blob/master/TransformerNeuralNetwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler

In [30]:
df = pd.read_csv('AAPL.csv',decimal=',',usecols=['Date','Open','High','Low','Close','Volume'],na_values='.')
df.dtypes
df.loc[df.Open == '.'] = -1.0
df[['Open']] = df[['Open']].apply(pd.to_numeric)
df.loc[df.High == '.'] = -1.0
df[['High']] = df[['High']].apply(pd.to_numeric)
df.loc[df.Low == '.'] = -1.0
df[['Low']] = df[['Low']].apply(pd.to_numeric)
df.loc[df.Close == '.'] = -1.0
df[['Close']] = df[['Close']].apply(pd.to_numeric)
df.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [6]:
df = df.sort_values('Date')
df.head()

         Date        Open        High         Low       Close    Volume
0  2019-05-06  204.289993  208.839996  203.500000  208.479996  32443100
1  2019-05-07  205.880005  207.419998  200.830002  202.860001  38763700
2  2019-05-08  201.899994  205.339996  201.750000  202.899994  26339500
3  2019-05-09  200.399994  201.679993  196.660004  200.720001  34908600
4  2019-05-10  197.419998  198.850006  192.770004  197.179993  41208700

In [0]:
plt.figure(figsize=(18,9))
plt.plot(range(df.shape[0],(df['Low']+df['High'])/2.0)
plt.xticks(range(0,df.shape[0],500),df['Date'].loc[::500],rotation=45)
plt.xlabel('Date',fontsize = 18)
plt.ylabel('MidPrice',fontsize = 18)
plt.show()

In [0]:
df['mid'] =(df['Low']+df['High'])/2.0

In [0]:
SEQ_LEN = 60
FUTURE_PERIOD_PREDICT = 1
RATIO_TO_PREDICT = "mid"

In [0]:
def clasify(current, future):
  if float(future) > float(current):
    return 1
  else:
    return 0

In [0]:
df['future'] = df[RATIO_TO_PREDICT].shift(-FUTURE_PERIOD_PREDICT)

In [0]:
df['target'] = list(map(clasify, df[RATIO_TO_PREDICT],df['future']))

In [41]:
df.head()

         Date        Open        High  ...         mid      future  target
0  2019-05-06  204.289993  208.839996  ...  206.169998  204.125000       0
1  2019-05-07  205.880005  207.419998  ...  204.125000  203.544998       0
2  2019-05-08  201.899994  205.339996  ...  203.544998  199.169999       0
3  2019-05-09  200.399994  201.679993  ...  199.169999  195.810005       0
4  2019-05-10  197.419998  198.850006  ...  195.810005  186.165001       0

[5 rows x 9 columns]